body, .box {

  text-align: left;
  line-height: 25px;
  font-weight: 400;
  font-style: normal;
  color: #666;
  font-size: 16px;
}

.section-heading {
  font-family: "Work Sans";
  text-align: center;
  line-height: 40px;
  font-weight: 300;
  font-style: normal;
  color: #333;
  font-size: 50px;
}
